.menu {
  width: 100%;
  height: 100vh;
  background: var(--gray-800);
  position: absolute;
  top: 5rem;
  left: 0;
  padding: 2rem 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &.menuIsOpen {
    transform: translateX(0);
  }

  a {
    height: 3rem;
    color: var(--gray-300);
    transition: color 0.2s ease-in-out;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;

    &:hover {
      color: var(--white);
    }

    &.active {
      color: var(--white);
      font-weight: 700;
    }

    &.active::after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 3px 3px 0 0;
      position: absolute;
      bottom: 1px;
      left: 0;
      background: var(--yellow-500);
    }
  }

  button {
    width: 200px;
    height: 65px;
    margin-top: 2rem;
  }
}
